<p>Deploy Extra extends features the original module Deploy. @TODO We should write what exactly Deploy Extra provides. Deploy Extra Log provides advanced logging on the destination server.
</p>
<p>There are two ways as to use Deploy Extra:
    <ul>
    <li>Export/import by Rest</li>
    <li>Export/import by form/file</li>
    </ul>
</p>
<p>The minimal settings depend on the way which you want to use for export/import.</p>
<p>The process is very close to <a href="https://drupal.org/node/1406134">the original Deploy settings.</a></p>