<h2 xmlns="http://www.w3.org/1999/html">Instructions for Fresh Drupal Install on Both Servers with export/import by
  Rest</h2>
<h3>Source server
</h3>
<ol>
  <li>Download the following modules. As of June 2013 you will need entity_dependency 7.x-1.x-dev For now, you need
    latest dev version of at least deploy, services, uuid, ctools and entity_dependency : Deployment, Services,
    Entity API, UUID, CTools, Views, Entity Dependency, Deployment Extra.
  </li>
  <li>Enable the following modules: Deployment, Deployment UI, Views, Views UI, Chaos Tools, Universally Unique ID,
    Services, REST Server, Universally Unique IDentifier, UUID Services, Entity, Entity Dependency, Deployment Extra
    and Deployment Extra Advanced Logging (optional).
  </li>
  <li>Temporary solution: make sure you've put spyc.php into the
    /sites/all/modules/contrib/services/servers/rest_server/lib folder, [You may or may not have /contrib/
    directory] it can be found at http://drupal.org/node/1313976#comment-5317796 or http://code.google.com/p/spyc.
    Although this works, it is advised to install the libraries module and place the spyc.php file in the
    sites/all/libraries/spyc folder (sites/all/libraries/spyc/spyc.php).
  </li>
  <li>Go to admin/structure/deploy/endpoints and click "Add".</li>
  <li>Enter 'Live Server' (or whatever you want to call your destination server) for the Name. Choose "Session
    authentication" for Authenticator, and "REST JSON advanced" for Service. Click "Continue."
  </li>
  <li>When prompted for a username and password, choose the username and password for user 1 on the destination site.
    Click "Continue."
  </li>
  <li>For Endpoint URL, enter 'http://your-destination-site.example.com/services/rest'. On this step you can setup the
    additional settings "Advanced Log ", "Test mode", "Skip update". Click 'Finish'. Note that it appears that any
    path other than '/services/rest' on either origin or destination generates a Request response error: -1002
    missing schema.
  </li>
  <li>Now, create a deployment plan. Go to admin/structure/deploy/plans and click "Add".
  </li>
  <li>Give it a name like "Push to live server." Aggregator: Managed aggregator. Fetch only: unchecked. Deployment
    processor: Queue API. Endpoints: the endpoint you just created. Click "Continue."
  </li>
  <li>Delete successfully deployed items: unchecked. Continue.</li>
  <li>No plugin to configure. Click Finish.
  </li>
</ol>
<h3>Destination server
</h3>
<p>The process is the same as original Deploy settings. In addition download Deployment Extra and enable Deployment
  Extra and Deployment Extra Advanced Logging (optional).
</p>

<h2>Instructions for Fresh Drupal Install on Both Servers with export/import by form/file</h2>
<h3>Source server
</h3>
<ol>
  <li>Download the following modules. As of June 2013 you will need entity_dependency 7.x-1.x-dev. For now, you need
    latest dev version of at least deploy, uuid, ctools and entity_dependency, deploy_extra : Deployment, Entity API,
    UUID, CTools, Views, Entity Dependency, Deployment Extra.
  </li>
  <li>Enable the following modules: Deployment, Deployment UI, Views, Views UI, Chaos Tools, Universally Unique ID,
    Universally Unique IDentifier, Entity, Entity Dependency, Deployment Extra, Deployment Extra Advanced Logging
    (optional), Deployment Extra Formats, Deployment Extra Export
  </li>
  <li>If you want to use YAML as an export format you need to install the libraries module and place the spyc.php file
    in the sites/all/libraries/spyc folder.
  </li>
  <li>Don not need to setup any endpoint because Deployment Extra Export provides the own endpoint - Deploy Extra Export
    endpoint
  </li>
  <li>Create a deployment plan. Go to admin/structure/deploy/plans and click "Add".
  </li>
  <li>Give it a name like "Push to live server." Aggregator: Managed aggregator. Fetch only: unchecked. Deployment
    processor: Form Processor. Endpoints: Deploy Extra Export endpoint will be checked automatically. Click "Continue."
  </li>
  <li>Delete successfully deployed items: unchecked. Continue.
  </li>
  <li>No plugin to configure. Click Finish.
  </li>
</ol>
<h3>Destination server
</h3>
<ol>
  <li>Download the following modules: Entity API, UUID, CTools, Views, Deployment Extra.
  </li>
  <li>Enable the following modules: Views, Views UI, Chaos Tools, Universally Unique ID, Deployment Extra, Deployment
    Extra Advanced Logging (optional), Deployment Extra Formats, Deployment Extra Import.
  </li>
</ol>
<h3>After all settings need to apply some patches:</h3>
<ol>
  <li>Add support for the image fields & file fields - need to install the File Entity module.
  </li>
  <li>Add support for the field collections - need to apply a <a
    href="https://drupal.org/files/field_collection-field_collection_uuid-2075325-2.patch">patch</a> from the <a
    href="https://drupal.org/node/2075325%20">issue</a> & remove or disable next functions in the uuid.core.inc file -
    field_collection_entity_uuid_load(), field_collection_entity_uuid_presave(), field_collection_field_uuid_load(),
    field_collection_field_uuid_presave because they are declared in the patch. Enable the Field Collection UUID module
    after patching!
  </li>
  <li>This patch is needed when Deploy is used with Export/import by Rest (@TODO create the issue for this problem)
    Patch DeployEndpoint.inc file - after 89 string add:
    <i>// Patch for saving deployment key in to service plugin config.
      $this->authenticator->service->config['deployment_key'] = $deployment_key;</i></li>
</ol>

