<h3>Basic usage with export/import by Rest
</h3>
<p>For basic usage with export/import by Rest see <a href="https://drupal.org/node/1406136">Basic usage of Deploy</a>
  and specific features of Deploy Extra will be described below.
  Deploy Extra and Dexpoy Extra Log provides new additional options such as "Advanced Log", "Test mode", "Skip update".
  These options add meta information to every exported entity and influence the import process. Dexpoy Extra Log also
  provides a new table and a default view "Deploy Extra Log" to log and view results of deployment.
</p>
<h3>Basic usage with export/import by form/file
</h3>
<p>The basic usage is very similar to <a href="https://drupal.org/node/1406136">Basic usage of Deploy</a> only
  Deployment process is different. You will get results of deployment into form or file (depends on your settings)
  instead directly deployment as when Rest is used and you should transfer these data manually to complete the
  deployment. For this go to Import data of entities (admin/structure/deploy/import), setup needed options and click
  "Import".</p>